.container {
  max-width: 1060px;
  margin: 0 auto;
}
.header {
  background-color: black;
}
.logo {
  height:  105px;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right {
  display: flex;
}
.nav-list {
  display: flex;
  list-style-type: none;
  
}

.nav-item {
  margin: 10px;
}
.nav-link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  font-family: 'BebasNeue';
}
